body {
    font-family: sans-serif;
  }
  
  #Leftside {
    float:left;
    width: 75%;
  }
  
  #Kategorien {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
  }
  
  .kat {
    background-color: white;
    flex: 1;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border: black 0px;
    border-right: black 1px;
    border-style: solid;
  }
  
  #Optionen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    max-width: 25%;
    background-color: aliceblue;
  }
  
  .opt {
    flex: 1;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    border: black 0px;
    border-top: black 1px;
    border-style: solid;
  }
  
  #Zusammenfassung {
    max-width: 25%;
    height: 100%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  #zsm-top {
    flex: 1;
    height: 20%;
  }
  
  #zsm-middle {
    flex: 3;
    height: 150px;
    background-color: gray;
  }
  
  #zsm-bottom {
    flex: 1;
  }
  
  #zsm-text {
    height: 720px;
  }
  
  #Verlauf {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  #Liste {
    margin-bottom: 50px;
  }
  
  h1 {
    text-align: center;
    width: 100%;
    background-color: slategrey;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  li {
    background: white;
  }
  li:nth-child(even) {
    background: grey;
  }
  
  .buttonbox {
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  #Loginpage {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  #Loginbox {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    background-color: slategrey;
    padding: 50px;
    text-align: center;
    border: 3px black;
    border-style: solid;
  }
  
  .loginbutton {
    padding-top: 20px;
  }
  
  .breakp {
    font-weight: bold;
  }
  
  .order-form {
    margin-top: 1rem;
  }
  
  
  .login-form {
    display: flex;
    flex-direction: column;
    height: 100%;
  
    justify-content: center;
    align-items: center;
  }
  
  .login-form > div {
    margin: 8px;
  }
  
  .login-form > div > label {
    font-weight: bold;
  }
  
  .login-form > div  > input {
    flex-grow: 1;
    box-sizing: border-box;
    padding: 10px 6px;
    background: transparent;
    border: 1px solid #aaa;
    width: 100%;
    font-size: 1em;
    margin-right: 16px;
    margin-top: 4px;
  }
  
  .login-form > div > input:focus {
    outline: 0;
  }
  
  .login-form > div > button {
    background-color: #62807e;
  }
  
  .user {
    display: flex;
  
    align-self: flex-end;
  
    margin: 8px 16px 0;
    font-weight: bold;
  }